webcr
venv
.idea
*.iml
*.pyc
nosetests.xml
gotest.out
tests.xml
*_local.py
build
dist
capper.egg-info
logs/*
supervisord.pid
.ropeproject
.zone
.vagrant/*
.vscode/*
.dev
.DS_Store
**/.DS_Store
cover.out
coverage.xml
!**/.gitkeep
bin/
vendor/*
